@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  /* COLORS CSS  */
  --black-600: #181818;
  --black: #000;
  --white: #fff;
  --danger-800: #ff0000;
  --grey-900: #b2b2b2;
  --orange-800: #ff6900;
  /*=========== TYPOGRAPHY ROOTS CSS =========*/
  /*------ FONT SIZE -----*/
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 30px;
  --fs-xl: 40px;
  --fs-xxl: 48px;

  /*------- FONT WEIGHT  -----*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}

@media (max-width: 575.98px) {
  :root {
    --fs-lg: 26px;
    --fs-xl: 34px;
    --fs-xxl: 40px;
  }
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--black) !important;
}
.bg-black-600 {
  background-color: var(--black-600);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.bg-danger-800 {
  background-color: var(--danger-800);
}
.bg-grey-900 {
  background-color: var(--grey-900);
}

/*===================== TYPOGRAPHY CSS ================*/
.leading-30 {
  line-height: 30px;
}
/*---------- TEXT COLOR  --------------*/
.text-black-600 {
  color: var(--black-600);
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}
.text-danger-800 {
  color: var(--danger-800);
}
.text-grey-900 {
  color: var(--grey-900);
}

.text-orange-800 {
  color: var(--orange-800);
}

/*-------- FONT SIZE -------*/

.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

/*---------- FONT WEIGHT ----------*/

.fs-light {
  font-weight: var(--fw-light);
}
.fs-regular {
  font-weight: var(--fw-regular);
}
.fs-medium {
  font-weight: var(--fw-medium);
}
.fs-semibold {
  font-weight: var(--fw-semibold);
}

/*=============== HEADER STYLE ================*/
.logo {
  font-weight: 600;
  font-size: var(--fs-lg) !important;
  line-height: 43px;

  color: #ffffff;
}

/* UNDER LINE HOVER WITH AFTER  */

.club-header .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: all 0.3s ease-in-out 0s;
}

.club-header .nav-link:hover::after {
  width: 100%;
}
@media (max-width: 421px) {
  .logo img {
    height: 40px;
    width: 40px;
  }
  .logo {
    font-size: 20px !important;
  }
}
.club-header .nav-item .nav-link {
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.club-header .nav-item .nav-link.active {
  font-weight: 600;
}

.discord-btn {
  background: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 64px;
  width: 173px;
  height: 55px;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s ease;
}
.discord-btn:hover {
  background: transparent;
  color: #ff0000 !important;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0 !important;
}
.menu-toggle:focus {
  outline: none;
  box-shadow: unset !important;
}

.menu-toggle span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.menu-toggle .second {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* HERO SECTION STYLE  */

.leftHero {
  width: 100%;
  max-width: 529px;
}

.rightHero {
  max-width: 463px;
  width: 100%;
}

/*----------- ABOUT STYLES ---------*/
.aboutLeft {
  max-width: 600px;
  width: 100%;
}
.aboutRight {
  max-width: 560px;
  width: 100%;
}

.about-us-layout {
  grid-gap: 30px;
}

/*-------- ROADMAP SECTION STYLE --------*/
#roadmap {
  overflow: hidden;
}
@media (min-width: 992px) {
  #roadmap {
    padding-bottom: 230px !important;
  }
}
.roadmap-section h3 {
  font-weight: 600;
  font-size: var(--fs-lg);
  line-height: 131.4%;
  color: var(--white);
}

.roadmap-section p {
  font-weight: normal;
  font-size: var(--fs-md);
  line-height: 24px;
  color: var(--grey-900);
}

.roadmap-leaves-image {
  background-image: url("../assets/bg-leave-image.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0%;
}

.samuray-roadmap-img {
  width: 100%;
  position: static;
  right: unset;
  top: unset;
}

.z-1 {
  z-index: 1;
}

@media (min-width: 576px) {
  .max-w-246 {
    max-width: 246px;
  }
  .max-w-200 {
    max-width: 200px;
  }

  .max-w-349 {
    max-width: 349px;
  }
  .max-w-289 {
    max-width: 289px;
  }
  .max-w-281 {
    max-width: 281px;
  }
  .max-w-200 {
    max-width: 200px;
  }
  .samuray-roadmap-img {
    position: absolute;
    right: 0px;
    top: 70%;
    width: unset;
  }
}

@media (min-width: 992px) {
  .samuray-roadmap-img {
    position: absolute;
    right: 0px;
    top: 50%;
  }
}

@media (min-width: 1400px) {
  .roadmap-leaves-image {
    width: 100%;
  }

  .samuray-roadmap-img {
    position: absolute;
    right: -58px;
    top: 50%;
  }
}

@media (min-width: 1600px) {
  .samuray-roadmap-img {
    right: -175px;
    top: 35%;
  }
  .roadmap-leaves-image {
    width: 92%;
  }
}

/*------------ OUR TEAM STYLE  -----------*/
/* .our-team-section {
  padding-top: 230px;
} */
.our-team-section p {
  font-weight: normal;
  font-size: var(--fs-md);
  line-height: 24px;
  color: var(--grey-900);
}
.team-card {
  transition: 0.3s ease;
}
.team-card button {
  width: 100%;
  height: 70px;
  /* background: linear-gradient(
    92.4deg,
    rgba(255, 255, 255, 0.48) -0.65%,
    rgba(255, 255, 255, 0) 100%
  ); */
  font-weight: 600;
  font-size: 24px;
  line-height: 131.4%;
  text-align: center;
  color: #ffffff;
}

.team-card img {
  width: 100%;
}

.team-card:hover {
  transform: translateY(-10px);
}
.team-card button:hover {
  /* background: linear-gradient(
    92.4deg,
    rgba(255, 255, 255, 0.384) -0.42%,
    rgba(255, 255, 255, 0) 90%
  ); */
}

/* FAQ SECTION STYLES  */
.faq-section h4 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}
.faq-section p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-md);
  line-height: 29px;
  color: var(--grey-900);
}

.circle-img {
  position: absolute;
  left: 0;
  bottom: 10px;
}
/* FOOTER STYLE  */

.footer-section {
  height: 137px;
  background: linear-gradient(
    92.4deg,
    rgba(255, 255, 255, 0.48) -0.65%,
    rgba(255, 255, 255, 0) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-section span {
  font-weight: 600;
  font-size: var(--fs-sm);
  line-height: 20px;
  color: #ffffff;
}
.social-icons svg {
  cursor: pointer;
  transition: 0.3s ease;
}

.social-icons svg:hover {
  transform: translateY(-6px);
  fill: rgba(255, 255, 255, 0.678);
}

.social-icons svg:hover path {
  fill: rgba(255, 255, 255, 0.678);
}

/* LEAVES ANIMATIONS  */
.anim {
  position: absolute;
  top: 0;
}
.anim span {
  display: inline-block;

  height: 75px;
  width: 75px;

  margin: -280px 40px 54px -34px;
  animation: anim 20s infinite linear;
}
.anim span:nth-child(7h) {
  animation-delay: 2.5s;
}
.anim span:nth-child(7n-1) {
  animation-delay: 1s;
}
.anim span:nth-child(7n-2) {
  animation-delay: 3.5s;
}
.anim span:nth-child(7n-3) {
  animation-delay: 5s;
}
.anim span:nth-child(7n-4) {
  animation-delay: 1.5s;
}
.anim span:nth-child(7n-5) {
  animation-delay: 7s;
}
.anim span:nth-child(7n-6) {
  animation-delay: 9.5s;
}
@keyframes anim {
  0% {
    width: 75px;
    height: 75px;
    opacity: 1;
    transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 75px;
    height: 75px;
    opacity: 1;
    transform: translate(100px, 900px) rotateZ(270deg);
  }
  100% {
    width: 75px;
    height: 75px;
    opacity: 0;
    transform: translate(150px, 900px) rotateZ(360deg);
  }
}
@media (max-width: 576px) {
  :root {
    /*=========== TYPOGRAPHY ROOTS CSS =========*/
    /*------ FONT SIZE -----*/
    --fs-lg: 26px;
    --fs-xl: 34px;
    --fs-xxl: 40px;
  }
}
